*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: lightseagreen;
}
.alap{
  width: 400px;
  height: 600px;
  background: #a3a3a3;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  border: 3px solid black;
  
}
.kijelzo{
  background: white;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 50px;
  justify-items: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: 3px solid black;
}
.kijelzo p{
  font-size: 30px;
  text-align: right;
}
.muvelet{
  background: #2b2b2b;
}
button{
  font-size: 30px;
  background: #525252;
  color: white;
  border: 2px solid black;
  padding: 16px;
  cursor: pointer;
  border-radius: 16px;
}
.elso-sor, .masodik-sor, .harmadik-sor, .utolso-sor, .fenti{
  margin-top: 1.6rem;
}
.fenti{
  margin-left: -11rem;
}
#egy, #negy, #het, #ketto, #ot, #nyolc, #nulla{
  margin-right: 1rem;
}
#ac{
  background: #2b2b2b;
  margin-left: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
#plusz, #kivonas, #szorzas{
  margin-left: 6rem;
}
#egyenlo{
  background: #2b2b2b;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 1rem;
}
#osztas{
  margin-left: 6rem;
}
#pont{
  margin-left: 1rem;
}